*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 14px;
    font-family: 'Raleway' , sans-serif;
    background-color: hsl(229, 57%, 11%);
    background-image: url(../images/bg-desktop.png);
    background-repeat: no-repeat;
    background-position-y:20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main__container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50rem;
}

.section__one{
    background-color:hsl(228, 56%, 26%);
    height: 10rem;
    width: 18rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border-top-right-radius: 100px;
}

.section__one__container{
    height: 7rem;
    width: 15rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
}

.image__container{
    width:10rem;
    display: flex;
    justify-content: space-between;
}

.image__background__one{
    background-color: hsl(229, 57%, 11%);
    border-radius:10px ;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
}

.image__background__two{
    background-color: hsl(229, 57%, 11%);
    border-radius:10px ;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
}

.image__background__three{
    background-color: hsl(229, 57%, 11%);
    border-radius:10px ;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
}

.flex__column{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section__two{
    background-color: white;
    border-radius: 10px;
    width: 7rem;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    margin-left: 18rem;
    z-index: 5;
}

.section__two__number{
    margin-left: 1rem;
}

.section__two__text{
    color: hsl(229, 7%, 55%);
    font-size: 10px;
    margin-right: 1rem;
}

.section__three{
    background-color:hsl(228, 56%, 26%);
    border-radius: 10px;
    height: 8rem;
    width: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -1rem;
}

.section__three__container{
    height: 5rem;
    width: 27rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
}

.section__three__text{
    color:hsl(229, 7%, 55%);
}

.ammount__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:27rem;
    font-weight: 700;
    color:hsl(229, 7%, 55%);
}

.dark__storage__line{
    width: 27rem;
    height: 1rem;
    background-color: hsl(229, 57%, 11%);
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.gradient__storage__line{
    width: 20rem;
    height: 0.8rem;
    background-image: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
    border-radius: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: 0.1rem;
}

.circle{
    width: 0.8rem;
    height: 0.8rem;
    background-color: hsl(243, 100%, 93%);
    border-radius: 10px;
}

@media only screen and (max-width: 375px){

    body{
        background-image: url(../images/bg-mobile.png);
        background-position: center;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        overflow: hidden;
    }

    .main__container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 375px;
        margin-top: -15rem;
    }

    .section__three{
        height: 8rem;
        width: 18rem;
        position: relative;
        margin-top: 1rem;
    }
    
    .section__three__container{
        height: 5rem;
        width: 15rem;
    }

    .dark__storage__line{
        width: 15rem;
        height: 1rem;
    }
    
    .gradient__storage__line{
        width: 10rem;
        height: 0.8rem;
        margin-left: 0.1rem;
    }

    .ammount__container{
        width:15rem;
    }

    .section__two{
        margin: 0rem 0rem 0rem 0rem;
        position: absolute;
        top: 25.7rem;
    }
}